.galery--list {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;
}

.galery--title {
  display: none;
}

.galery--item {
  margin-right: 30px;
  margin-bottom: 30px;
  width: 370px;
  background-color: getColor(white-color);
  font-size: 0;

  transition: $animation;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &:nth-child(3n + 3) {
    margin-right: 0;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.galery--second-title {
  margin: 0;
  padding-top: 20px;
  padding-left: 24px;
  padding-bottom: 4px;
  color: getColor(title);
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.description {
  position: relative;
  overflow: hidden;
}

.description--info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform $animation;
}

.galery--link {
  &:hover .description--info,
  &:focus .description--info {
    transform: translateY(0);
  }

  &:focus .galery--signature {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.description--text {
  margin: 0;
  padding: 63px 24px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;

  letter-spacing: 0.03em;
  color: getColor(white-color);
}

.galery--text {
  margin: 0;
  padding-left: 24px;
  padding-bottom: 20px;
  color: getColor(primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.galery--signature {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
